.footer {
    background-color: #333;
    color: #fff;
    
    text-align: center;
    position: relative;
    bottom:0;
    width: 100%;
}

.footer-content {
    display: felx;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer p {
    margin: 3px 10px; /* Adjust margins as needed */
}

.footer-content p{
    font-size: 20px;
    padding:0.3px;
}