.contactform{
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    width: 500px;
}   

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: white;
    
}

.submit-button{
    padding: 10px 60px;
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: hsl(223, 87%, 59%);
    color: white;

}

.name, .email, .message, .submit{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lab{
    font-size: 20px;
}