.vh2, .vp{
    color: white;
    text-align: center;

}

.vh2{
    font-size: 40px;
    padding-top: 30px;
}

.vp{
    font-size:25px ;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

